{
  "plugins": ["prettier"],
  "extends": ["loopback", "plugin:prettier/recommended"],
  "rules": {
    "object-curly-spacing": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ],
    "comma-dangle": ["error", "never"],
    "strict": 0,
    "max-len": ["error", { "code": 100 }]
  }
}
