{
  "plugins": ["prettier", "jest"],
  "extends": ["loopback", "prettier"],
  "rules": {
    "object-curly-spacing": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", { "code": 100 }],
    "strict": 0,
    "no-undef": 1
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "jest/globals": true
  }
}
